[Desktop Entry]   
Name=IntelliJ IDEA
Comment=IntelliJ IDEA
Exec=sh -c "/usr/local/bin/idea.sh" %f
Icon=/usr/local/bin/idea.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;IDE;
